/* Grids for big tablet devices up to 992x screen-width */
@media only screen and (min-width: 992px) {
    /* Navigation and content of webpage next to each other */
    #content-nav_grid {
        grid-template-columns: 1fr 12vw;
        grid-template-rows: auto auto;
        grid-template-areas: "main nav"
                             "footer nav";
    }

    /* My Work! */
    .portfolio_grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "header header"
                             "picture1 pic_text1"
                             "picture2 pic_text2"
                             "picture3 pic_text3"
    }
    section#portfolio header.grid_content1 {
        grid-area: header;
    }

    section#portfolio div.grid_content2 {
        grid-area: picture1;
    }

    section#portfolio p.grid_content3 {
        grid-area: pic_text1;
    }

    section#portfolio div.grid_content4 {
        grid-area: picture2;
    }

    section#portfolio p.grid_content5 {
        grid-area: pic_text2;
    }

    section#portfolio div.grid_content6 {
        grid-area: picture3;
    }

    section#portfolio p.grid_content7 {
        grid-area: pic_text3;
    }

    /* About me! */
    section#about_me div.about_grid {
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "heading"
                             "article";
    }
}